/**{
	margin: 0;
	padding: 0;
}
html,body不设置的话会没高度
html,body{
	width: 100%;
	height: 100%;
}
.dialog-container{
	width: 100%;
	height: 100%;
	background: #f00;
}*/
/*定位遮罩全屏*/
html,body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}
.dialog-container{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.dialog-mask{
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.5; //标准
	filter:alpha(opacity=50);//ie
}
/* 弹出框大小位置居中 */
.dialog-box{
	width: 400px;
	height: 300px;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -200px;
	top: 50%;
	margin-top: -150px;
	/*不知道宽高的话*/
	/*left: 50%;
	top: 50%;
	-webkit-transform:translate(-50%,-50%);ie8不支持*/
}
/*标题栏*/
.dialog-title-box{
	padding: 0 10px;
	height: 30px;
	line-height: 30px;
	background: #ccc;
}
.dialog-title{
	float: left;
}
.dialog-close-btn{
	float: right;
	cursor: pointer;
}

#btn{
	background: #f00;
	color: #fff;
	margin-left: 20px;
}